{
  "ConnectionStrings": {
    "DefaultConnection": "Host=46.62.223.162;Port=5432;Database=AnalizadorLexico;Username=inventario_user;Password=6789juanpatito;SSL Mode=Prefer"
  },
  "Jwt": {
    "SecretKey": "GENERAR_UNA_CLAVE_ALEATORIA_DE_AL_MENOS_32_CARACTERES",
    "QrExpirationDays": 365
  },
  "Recaptcha": {
    "BypassInDevelopment": true
  }
}
